
<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"></link>

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css')}}"></link>
    <!-- <link rel="icon" type="image/x-icon" href=favicon.ico /> -->

  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="http://localhost:5000">Home</a></li>
          <li><a href="#">Matches</a></li>
        </ul>
<!--         <ul class="pull-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Help</a></li>
        </ul> -->
      </div> 
    </div>

    <div class="jumbotron" style="background-color: #cedbd9;padding-top: 0px;">
      <div class="container">
        <p > <center> <h1  style = "color: #292b2b"> SHTETLR  </h1> <h4> Looking to fill an empty spot in your apartment? Stranded without an apartment? Shtetlr will find your match!</h4><br></br></center>
       </div>

 <div class="container">
        <div class="row" >
        <div class= "col-md-4 col-md-offset-1">

          <button type="button" onclick="window.location='http://localhost:5000/listings1'
;" class="btn btn-primary btn-lg btn-block" style="height: 100px; color:#292b2b; background-color: #d7e2e0;"><h3><b>Find an apartment!</h3></b></button>

<!-- <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" style="width:360">Find an apartment!</button>

</div> -->

        </div>


        <div class= "col-md-4 col-md-offset-2" >

                    <button type="button" onclick="window.location='http://localhost:5000/profile1';" class="btn btn-primary btn-lg btn-block" style="height: 100px; color:#292b2b; background-color: #d7e2e0;"> <h3><b>Find a new roommate! </b></h3></button>
<!-- Large button group -->
<!-- <div class="btn-group">
  <button class="btn btn-default ">
    Find a replacement roommate! <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    ...
  </ul>
</div> -->


<!-- <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" style="width:360">Find a replacement roommate!</button>

</div> -->


        </div>

        </div>
        </p>
      </div>
    </div>
  
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  </body>
</html>
