
<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"></link>

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css')}}"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fancy_buttons')}}"></script>
    <!-- <link rel="icon" type="image/x-icon" href=favicon.ico /> -->

  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="http://localhost:5000/">Home</a></li>
          <li><a href="http://localhost:5000/matches_listings">Matches</a></li>
        </ul>
<!--         <ul class="pull-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Help</a></li>
        </ul> -->
      </div> 
    </div>

    <div class="jumbotron" style="background-color: #cedbd9;padding-top: 0px;">
      <div class="container">
        <p > <center> <p style = "color: #292b2b"> Apartments in NYC: Listing 3 </p> <br></br></center>
       </div>

 <div class="container">
        <div class="row" >
        <div class= "col-md-4 col-md-offset-1">


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{{ url_for('static', filename='img/nyc1.jpg') }}"  alt="livingroom" width="360">
              <div class="carousel-caption">
                
              </div>
            </div>
            <div class="item" >
              <img src="{{ url_for('static', filename='img/nyc2.jpg') }}" alt="bedroom" width="360">
              <div class="carousel-caption">
                
              </div>
            </div>
            <div class="item">
              <img src="{{ url_for('static', filename='img/nyc3.jpg') }}" alt="kitchen" width="360">
              <div class="carousel-caption">
                
              </div>
            </div>
          
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        </div>


        <div class= "col-md-4 col-md-offset-2">

        <ul style="list-style-type:none">
          <li> <b>Location:</b> UWS, 72nd and Broadway</li>
          <li> <b>Features:</b> Kitchen, 2 full bathrooms, 3 bedrooms</li>
          <li><b> Rent:</b> $1,200 per month</li>
          <li> <b> Whats in it for you:</b> Single bedroom, 2 closets, full size bed</li>
          <li><b>Observances:</b> Traditional Jewish, Ingredient kosher kitchen</li>
          <li> <b> About us:</b> We are 4 fun loving women looking for a 5th. We enjoy cooking dinner together weekly. Our cat Crookshanks is very friendly.</li>
        </ul>  


        </div>

        </div>


          <div class="row">
          <div class="container">
           <div class="row">
            <div class="col-md-6">
              <button type="button" onclick="window.location='http://localhost:5000/listings4';" id="notInt" class="btn btn-danger btn-block">Not Interested</button>
            </div>
            <div class="col-md-6">
              <button type="button" onclick="window.location='http://localhost:5000/listings4';" id="Int" class="btn btn-success btn-block">Interested</button>
            </div>
          </div>
          </div>
        </div>


        </p>
      </div>
    </div>
  
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  </body>
</html>
