
<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"></link>

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css')}}"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fancy_buttons')}}"></script>
    <!-- <link rel="icon" type="image/x-icon" href=favicon.ico /> -->

  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="http://localhost:5000/">Home</a></li>
          <li><a href="http://localhost:5000/matches_listings">Matches</a></li>
        </ul>
<!--         <ul class="pull-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Help</a></li>
        </ul> -->
      </div> 
    </div>

    <div class="jumbotron" style="background-color: #cedbd9;padding-top: 0px;">
      <div class="container">
        <p > <center> <h3 style = "color: #292b2b"> <b>Your Matched Listings</b> </h3> <br></br></center>
       </div>

      <div class="row">
          <div class="container">
           <div class="row">

 <ul > <center> <h3>
          <li>Apartment Listing 1</li>
          <li>Apartment Listing 3</li>
          <li>Apartment Listing 4</li>
       </h3> </center>
      </ul> 

          </div>
          </div>
        </div>
<br></br>

 <div class="container">
        <div class="row" >



        <div class= "col-md-4 col-md-offset-4" >
<button type="button" onclick="window.location='http://localhost:5000/profile1';" class="btn btn-primary btn-lg btn-block" style="height: 100px; color:#292b2b; background-color: #d7e2e0;"> <h4><b> Contact me when matches are found </b></h4></button>
        </div>

        </div>




        </p>
      </div>
    </div>
  
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  </body>
</html>
